@font-face {
    font-family: 'headFont';
    src:url('../fonts/HipstelveticaLight.ttf') format('truetype');    
}
h1{
    
    font-family: 'headFont';
}


body{
	margin: -16px;
	background-color: #f4f4f4;
    margin-top: -35px;
    width:101%;
}


img{
	width: 40% ;
	height:800px;
    margin-left: -27px;
}
#para{
	margin-left: 665px; 
	margin-right:100px;
	text-align: justify;
	font-size: 23px;
}
#title{
	text-align: center;
	font-size: 50px;
	color: #f4f4f4;
	height: 75px;
    padding-top: 19px;
    background-color: #373737
}
.open
{
    color:#C0B283;
}
audio {
    /* padding: 1px 3px; */
    width: 250px;
    padding-left: 330px;
    padding-top: 47px;
   
}
.row
{
    float:left;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}
.course
{
    width:170px;
    height:270px;
    margin:2.9%;
    float: left;
    background: linear-gradient(0deg, #F4F4F4 78%, #DCD0C0 22%);
    border-radius: 3%;
    padding-left:6.4%;
    padding-right: 6.4%;
    color: #373737;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 10px 10px 15px -1px rgba(173,171,173,0.73);
    display: block;
    position:relative;
    overflow: hidden;
}
.course h2
{
    color: #373737;
}
.viewContainer
{
    margin-top:15%;
    
}
.viewButton
{
    padding: 5%;
    margin: 0 auto;
	
	border-radius:3px;
	border:1px solid #F4F4F4;
	display:inline-block;
	cursor:pointer;
	color:#F4F4F4;
	font-size:13px;
	padding:14px 35px;
	text-decoration:none;
    font-size: 1em;
    transition: all 1s;
    
}
.viewButton:hover
{
    background-color:#F4F4F4;
    color: #373737;
}
.layerBottom
{
    display: block;
}
.layerTop
{
    
    width:100%;
    height:270px;
    transition: .5s ease;
  	opacity: 0;
	position: absolute;
	top: 0;
    left: 0;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translateY(-100%);
	text-align: center;
    border-radius: 3%;
}
.course:hover .layerBottom
{
	opacity: 0.3;
}

.course:hover .layerTop 
{
    transform: translateY(0);
    width:100%;
    height:270px;
    opacity: 1;
}
.hoverText
{
    top:50%;
    left:50%;
    width:100%;
    height:270px;
    background: rgba(0, 0, 0, 0.8);
    color:#F4F4F4;
    font-size: 16px;
    border-radius: 3%;
    display: inline-block;
}
.hoverText .insideText
{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}